<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/blogg.css">
</head>
<body>
    <h1>kontakta mig</h1>

</body>
</html>

<%- include("partials/footer.ejs") %>