<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/blogg.css">
</head>
<body>
  <header>
    <a id="head" href="/" class="home-button">Hem</a>
    <a id="head" href="kontakta-mig" class="kontakt">Kontakta mig</a>
    <a id="head" href="/om-mig" class="Om">Om mig</a>

    
  </header>
</body>
</html>
